# Virtual environment
venv-anomaly/
venv/
.env/

*.mp4
*.jpg

# Python cache
__pycache__/
*.pyo
*.pyd
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Databricks / Spark temp files
*.crc
*.eventlog

# VSCode / IDE settings
.vscode/
.idea/

